<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>Positive IT contributions to society</title>
  </head>
  <body>
    <div>
      <h1><a href="">God Jul</a></h1>
    </div>

        <div>
          <p>God Jul, sweety! Your Christmas present:</p>
          <blockquote class="imgur-embed-pub" lang="en" data-id="a/X8ERu"><a href="//imgur.com/X8ERu"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
          <p>I love you!</p>
        </div>

  </body>
</html>
